
@{
    ViewBag.Title = "Correos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section estilos{
    <link href="~/Content/Plugins/summernote/summernote-bs4.min.css" rel="stylesheet" />
}
<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h2>Correo</h2>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section>
        <div class="container-fluid">
            <div class="row">

                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Nuevo Mensaje</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group">
                                <label>Empresa:</label>
                                <select id="cboEmpresa" type="text" class="form-control col-sm-3" placeholder="Enter ..."></select>
                            </div>
                            <div class="form-group">
                                <label>Para:</label>
                                <input id="txtPrincipal" class="form-control col-sm-3">
                            </div>
                            <div class="form-group">
                                <label>Asunto:</label>
                                <input id="txtAsunto" class="form-control col-sm-3">
                            </div>
                            <div class="form-group">
                                <textarea id="compose-textarea" class="form-control" style="height: 300px">
                                <p id="parrafo">

                                   </p>
                                
                                 </textarea>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-default btn-file">
                                    <i class="fas fa-paperclip"></i> Adjuntar
                                    <input type="file" name="attachment">
                                </div>
                                <p class="help-block">Max. 32MB</p>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="button" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Editar</button>
                                <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Enviar</button>
                            </div>
                            <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Cancelar</button>
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section scripts{
    <script src="@Url.Content("~/Content/Plugins/summernote/summernote-bs4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Views/Correo_Ver.js")" type="text/javascript"></script>
    <script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote();
        })
    </script>
}

